
.form_container {
    display: flex;
    flex-direction: column; 
 
}

.svg_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
}

.input_container {
    width: 50%;
    display: flex;
  
}

.input_cont {
    
    position: relative;
    width: 65%;
}

.clear_icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  padding: 7px;
  opacity: 0;
}

.input_cont:focus-within .clear_icon {
  opacity: 1;
}

.input {
    padding: 15px 10px;
    width: 100%;
    border-radius: 3px;
    border-width: 2px;
    color: rgb(48, 46, 46);
}

.input:focus {
  border-color: rgb(73, 142, 146);
  outline: none;
}

*, :after, :before {
  border: 0 solid #e5e7eb;
  /* box-sizing: border-box; */
}

::-webkit-clear-button {
  cursor: pointer; 
}

.form_control {
    padding: 20px 0 20px 27px;
}


.button_search {
    padding: 0 40px;
    margin-left: 10px;
    margin-right: 30px;
    cursor: pointer;
    background-color: var( --clinic-item-bckg);
    border: 1px solid var(--clinic-item-color);
    border-radius: 3px;
}

.label_radio {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 25px;
}

.input_button {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.check {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

input[type='radio']:checked + .check {
  border: 5px solid rgb(72, 184, 147);
  width: 20px;
  height: 20px;
}

input[type='radio'] + .check {
  border: 1px solid rgb(9, 29, 9);
}

.radio_name {
  margin-left: 10px;
}


.no_results {
    text-align: center;
}

.clinic_item {
    padding: 10px 20px;
    border: 1px solid var(--clinic-item-color);
    border-radius: 5px;
    background-color: rgb(231, 245, 241);
    cursor: pointer;
}

.clinic_list {
  display: flex;
  justify-content: space-between;
}

.clinic_item:not(:last-child) {
     margin-bottom: 5px;
}

.search_res {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 50px; 

}

.overFlow {
  height: 42.5rem; 
  overflow-y: scroll;
  scroll-behavior: smooth;
}

/* .over {
  scroll-behavior: smooth;
} */

.active {
    background-color: var(--active-clinic);
    border: 1px solid black;
}

.button {
    cursor: pointer;
    font-size: 25px;
    width: 50%;
    height: 80px;
    background-color: rgb(231, 245, 241);
    border: 1px solid var(--clinic-item-color);
     border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.button.active {
    background-color: var(--active-clinic);
    border: 1px solid black; 
}

.about_clinic {
    width: 100%;
    height: 80vh;
    background-color: rgb(231, 245, 241);
    border: 1px solid var(--clinic-item-color);
    padding: 25px;
}

.select_clinic {
    text-align: center;
}

/* about clinic */

.about_title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
}

.about_desc {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.lambda {
    position: absolute;
    top: 80px;
    right: 80px;
}


@media screen and (max-width: 1024px) {
    .search_res {
        display: flex;
        flex-direction: column-reverse;
    }

    .input_cont {
    width: 100%;
    }

    .input {
       max-width: 100%;
    }  

    .form_control {
    padding: 8px 8px 8px 27px;
    }

    .button {
    cursor: pointer;
    font-size: 15px;
    width: 50%;
    height: 40px;
}

.about_clinic {
    /* overflow: auto; */
    height: 50vh;
    padding: 20px;
}

.radio_btn {
    width: 20px;
    height: 20px;
}

.about_title {
    margin-bottom: 5px;
    font-size: 10px;
}

.about_desc {
    margin-bottom: 20px;
}

.clinic_item {
    padding: 5px 10px;
}

.clinic_list {
  display: block;
}

.lambda {
  display: none;
}

.input_container {
    width: 100%;
    display: flex;
}

.button_search {
    padding: 0 5px;
    margin: 0 0 0 5px;

}

}



