@import 'modern-normalize/modern-normalize.css';

body {
  margin: 0;
font-family: 'Carter One', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-image: url('./svgFile/flag2.jpg'); */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top top;
 background-size: cover;
 overflow: hidden;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

:root {
  --clinic-item-color: rgb(194, 182, 182);
  --clinic-item-bckg: rgb(231, 245, 241);
  --active-clinic: rgb(65, 145, 112);
}

@media screen and (max-width: 1024px) {
  body {
    overflow: auto;
  }
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
